.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--input-border);
}

.box .inputWrapper{
    position: relative;
}

.box .inputWrapper input{
    padding: 0 18px 0 12px;
    line-height: 1.5;
}

.clearIcon{
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    height: 16px;
    color: var(--input-border);
}

.box .icon {
    width: unset;
    border-radius: 0;
    border-left: 1px solid var(--input-border);
}

.box .icon:hover {
    background-color: var(--input-border);
}
