.wrap {
    width: 100%;
}

.icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    height: 16px;
}

.icon+input {
    padding-left: 24px;
}

.error {
    color: var(--secondary-color);
    font-size: 0.9rem;
    margin-top: 4px;
    transition: all .6s;
}

.label span {
    color: var(--secondary-color);
    padding-right: 2px;
}